.modal_box{
    background-color: #fff;
    border-radius: 3px;
}
.modal_header{
    padding: 30px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.modal_header > p{
    font-size: 20px;
    color: #424242;
    margin-bottom: 10px;
    font-weight: 400;
}
.modal_header > div{
    color: #1a9cb7;
    font-size: 12px;
}
.modal_header > div button{
    color: #1a9cb7;
    font-size: 13px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    outline: none;
    padding: 0 2px;
    cursor: pointer;
}
.modal_body{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 80px; */
}

.input-with-status__input {
    height: 38px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    outline: none;
    min-width: 0;
    color: #222;
    border: 1px solid #333;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 2px;
}
.modal_input{
    flex: 1;
}
.login_input label{
    font-size: 12px;
}
.login_forgot{
    text-align: right;
}
.login_forgot button{
    color: #1a9cb7;
    font-size: 13px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 2px;
    cursor: pointer;
}

.modal_btn{
    flex: 1;
    padding-left: 30px;
}
.mod-button {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #59b586;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 2px;
}
.mod-login-fb {
    background: #3b5998;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    margin-bottom: 12px;
}
.mod-login-google {
    background: #d34836;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
}
.modal_btn p{
    margin: 12px 0;
    font-size: 13px;
    color: #757575;
}